  <!-- foooter   -->
  <div class="  w-100 mt-16 mb-16 pt-16 pb-16 h-3/4"></div>
<div class=" w-full sticky   text-center bg-gray-700 p-1" >

     <div class="text-2xl">Built by Pankaj Shukla</div>
     <span class="text-xs">For any queries send mail to : pankajshuklajavacoder@gmail.com </span>

 </div>
</body>

<script src="./scripts/script.js"></script>

</html>