<% let data ;%>
<%- include( ("partials/header.ejs"), {data:user}) %>
<div class="mt-12 w-screen h-screen flex justify-center items-center">
    <form class=" grid grid-cols-1 w-5/6 h-5/6 border-2 border-red-300  justify-center items-center" method="GET" action="/searchResults">
        <div class="flex items-center justify-center w-full text-4xl ">
            Search Page
        </div>
        <% if (error!=undefined ) { %>
            <div class="flex items-center justify-center w-full text-2xl text-white ">
                 <%= error %>
            </div>

        <% } %>
        <div class=" grid grid-cols-1 md:grid-cols-2  items-center justify-center w-full ">
                    <div class=" flex w-full justify-center  items-center">Name of the show :</div>
                    <div class="flex w-full justify-center items-center   "><input class="text-black w-3/4 pl-2  " name="showName"  placeholder="enter show name " type="text"> </div>
            </div>
            
        <!-- <div class=" grid grid-cols-1 md:grid-cols-2 items-center justify-center w-full ">
            <div class=" flex w-full justify-center  items-center">Category :</div>
            <div class="flex w-full justify-center items-center">
                <select class="text-black w-3/4 text-xl " name="category">
                    <option>action</option>
                    <option>comedy</option>
                </select>
            </div>
        </div>
         -->
       
       
         <div class="grid grid-cols-1 items-center justify-center w-full ">
            <button class=" w-3/6 p-2 m-auto hover:bg-red-500 focus:outline-none  border-2 border-red-500 text-white shadow-xl rounded-sm" type="submit"> Submit</button>
        </div>
    </form>
</div>
<%- include('./partials/footer.ejs') %>
